my-params/src/main/mule/my-params.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="839ae5ba-d740-4ba0-b56b-2fc97b3fd1c5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="my-paramsFlow" doc:id="cbcaae70-ef06-41f1-9251-58712e715c57" >
		<http:listener doc:name="Listener" doc:id="e30f361d-35b7-42de-a656-458b1abc5fc6" path="/weather/{cityID}" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="4a3c2b54-a9aa-46d5-9eb2-fe6164d0139c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
{
	'City ID' : attributes.uriParams.cityID,
	'State' : attributes.queryParams.state
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[attributes.uriParams.cityID]" doc:name="City ID" doc:id="739c147b-c60e-4c81-a30b-162dc276c0ed" variableName="cityID"/>
		<set-variable value="#[attributes.queryParams.state]" doc:name="State" doc:id="97103835-a570-4a52-9e38-c56b7be4aae4" variableName="state"/>
		<logger level="INFO" doc:name="Logger" doc:id="53e6e5d6-ef25-4c4d-b2a9-f61c4754a31c" message="#[{'city id': vars.cityID,'state': vars.state}]"/>
	</flow>
</mule>
