update-delete/src/main/mule/update-delete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="59d350fd-56a6-41f5-8534-cff138b3d8f7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="4a18fa70-ddd6-4ec0-ba17-3c4b2569cb55" file="config.yaml" />
	<db:config name="MySQL_Database_Config" doc:name="Database Config" doc:id="d85ce34c-a360-44c2-b558-4b7ca70bca49" >
		<db:my-sql-connection host="${mysql.host}" port="${mysql.port}" user="${mysql.user}" password="${mysql.password}" database="${mysql.db}" />
	</db:config>
	<flow name="update" doc:id="c211f769-c492-48dc-bdde-5e91f3325d5a" >
		<http:listener doc:name="/POST update customer" doc:id="ba4d76eb-a70d-4ec9-af6d-bf795b99e000" config-ref="HTTP_Listener_config" path="/update-customer"/>
		<logger level="INFO" doc:name="Logger" doc:id="ee59ccc2-fc1b-4865-a436-d8fad3438b17" />
		<db:update doc:name="Update" doc:id="ad4d85fd-2c0b-4057-8f2c-a7c300daa482" config-ref="MySQL_Database_Config">
			<db:sql ><![CDATA[UPDATE customers 
SET 
    City = :new_city,
    Country = :new_country,
    Address = :new_address,
    PostalCode = :new_postal_code
WHERE
   CustomerID = :provided_CustomerID;

]]></db:sql>
			<db:input-parameters ><![CDATA[#[{new_city: attributes.queryParams.City,
new_country:attributes.queryParams.Country,
new_address: attributes.queryParams.Address,
new_postal_code:attributes.queryParams.PostalCode,
provided_CustomerID: attributes.queryParams.CustomerID
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="57c6b101-c96e-402f-81e0-859df5112010">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "table successfully updated!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="delete" doc:id="872d6227-af9f-400a-bbba-5a39194b06e5" >
		<http:listener doc:name="/POST delete customer" doc:id="1bb60b9a-cd76-4375-a16e-72ed9d601b7b" config-ref="HTTP_Listener_config" path="/delete-customer"/>
		<logger level="INFO" doc:name="Logger" doc:id="c4dbd763-c1b6-4422-aaf8-ee2a14cfe104" />
		<db:delete doc:name="Delete" doc:id="033d7061-6fe8-4dfd-9a30-ceeb8a15de84" config-ref="MySQL_Database_Config">
			<db:sql ><![CDATA[DELETE FROM customers 
WHERE
    CustomerID = :provided_CustomerID;



]]></db:sql>
			<db:input-parameters ><![CDATA[#[{provided_CustomerID: attributes.queryParams.CustomerID}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="4c2ca6f5-f00c-4b10-bb54-28547559f4b4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'Message': "record successfully deleted form table!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
