scheduler-regular/src/main/mule/scheduler-regular.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="scheduler-regularFlow" doc:id="a68bf851-a9e8-44c8-bc51-c29526c22ca1" >
		<scheduler doc:name="Scheduler" doc:id="9b29cab8-e4bd-46f9-85e7-bda059f25702" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS" startDelay="5"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="a17b9c64-b287-46e6-858f-58f926e29b4d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"triggered" :now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="b78c97d0-7f53-4326-98e6-7a8775e05127" path="C:\AydaAnwar\MuleSoft\schduler-regular-frequency.json" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="952d3c50-b518-48d8-aa3c-42afd988254d" message="Triggered at #[(now)]"/>
	</flow>
</mule>
